<div id="page-content" class="faq">

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">


      <div class="mdl-card mdl-shadow--6dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Datos de conexión WIFI</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p>
            WIFI
          </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect click-on-target" data-target="/programa">
            Ver programa
          </a>
        </div>
      </div>


    </div>

    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-card mdl-shadow--6dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Y te preguntarás ¿qué es eso de Open Space?</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p>
            Sencillo, se trata de una metodología ágil para organizar reuniones que permite conseguir, de un grupo numeroso de personas
            y en un mínimo tiempo, compartir conocimiento y las mejores ideas sobre un tema.
          </p>

          <p>
            O lo que es lo mismo, los bikonianos (y todo el que quiera participar) proponemos unos temas concretos que nos interesan
            y que queremos compartir con todo el mundo (sea de Biko o no) y programamos una serie de reuniones donde tratarlos.
          </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect click-on-target" data-target="/programa">
            Ver programa
          </a>
        </div>
      </div>
    </div>


    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-card mdl-shadow--6dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">¿Por qué tienes que venir?</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p>
            Porque sea cual sea tu especialidad o intereses profesionales, seguro que encuentras una charla que encaje contigo. Tenemos
            para todos los gustos: diseño, marketing, comunicación, programación, estrategia… Además las reuniones serán
            muy participativas para que todos opinemos y los ponentes nos hablarán desde su propia experiencia lo que hará
            que sean muy productivas.
          </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect click-on-target" data-target="/programa">
            Ver programa
          </a>
        </div>
      </div>
    </div>


    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-card mdl-shadow--6dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">¿Cómo lo vamos a hacer?</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p>El día del Open Space: 25 de noviembre</p>

          <p>
            Empezaremos a las 9:00 horas de la mañana. Cada asistente elige libremente a qué reunión le interesa asistir, sin necesidad
            de apuntarse en ningún sitio, basta con estar en la sala adecuada a la hora indicada. Puedes asistir a una reunión,
            dos, tres… todas las de una misma sala… La única ley que aplicamos es la “Ley de los dos pies”: Si en algún momento
            sientes que no estás aprendiendo o no te interesa lo que se habla, usa tus dos pies ¡y cambia de reunión!
          </p>

          <p>
            Te esperamos en el Hotel Pamplona Catedral, a las 9:00h de la mañana del viernes 25 de noviembre.
          </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect click-on-target" data-target="/programa">
            Ver programa
          </a>
        </div>
      </div>
    </div>

  </div>





</div>
