<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect mdl-layout--fixed-tabs">
    <div class="mdl-tabs__tab-bar">
        <a href="#programa" class="mdl-tabs__tab" id="tab2">Programa</a>
        <a href="#hace-10-anyos" class="mdl-tabs__tab is-active" id="tab1">Hace 10 años</a>
        <a href="#faq" class="mdl-tabs__tab" id="tab3">FAQ</a>
    </div>


    <div class="mdl-tabs__panel is-active" id="programa">

        <div class="hero">
            <img src="../images/header-2.jpg" width="1897" height="450">
        </div>


        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <h6>
                    Selecciona las charlas que más te interesen. Cuando comiencen, recibirás una notificación en este dispositivo.
                </h6>
                <hr/>
                <ul class="program-list"></ul>
            </div>
        </div>


        <template>
            <li>
                <div class="timestart"></div>
                <div class="content">
                    <div class="title"></div>
                    <div class="info"><span class="length"></span> <span class="venue"></span></div>
                    <!--span class="mdl-list__item-text-body description"></span-->
                    <span class="mdl-chip mdl-chip--contact">
                        <img class="mdl-chip__contact icon" src="">
                        <span class="mdl-chip__text speaker"></span>
                    </span>
                </div>
                <div class="action">
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect hidden" for="list-switch-">
                        <input type="checkbox" id="list-switch-" class="mdl-switch__input"/>
                    </label>
                </div>
            </li>
        </template>





    </div>



    <div class="mdl-tabs__panel" id="hace-10-anyos">
        <div class="hero">
            <img src="../images/header-1.jpg" width="1897" height="450">
        </div>

        <h4>Hace 10 años...</h4>

        <div class="mdl-grid">

            <div class="card-container">

                <!-- card start -->
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                    <div class="card-redes-sociales mdl-card mdl-shadow--6dp">
                        <div class="mdl-card__title">
                        </div>
                        <div class="mdl-card__supporting-text">
                            <h2 class="mdl-card__title-text">Redes sociales</h2>
                            En España no existía ni Facebook ni Twitter y Tuenti te hacía sentir viejo.
                        </div>
                    </div>
                </div>
                <!-- card end -->


                <!-- card start -->
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                    <div class="card-agile mdl-card mdl-shadow--6dp">
                        <div class="mdl-card__title">
                        </div>
                        <div class="mdl-card__supporting-text">
                            <h2 class="mdl-card__title-text">Agile</h2>
                            Empezó a dar sus primeros pasos.<br>
                            La gente al oirlo sólo pensaba en hacerse el espagat.
                        </div>
                    </div>
                </div>
                <!-- card end -->


                <!-- card start -->
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                    <div class="card-whatsapp mdl-card mdl-shadow--6dp">
                        <div class="mdl-card__title">
                        </div>
                        <div class="mdl-card__supporting-text">
                            <h2 class="mdl-card__title-text">Whatsapp</h2>
                            Vivías a base de SMS.<br>
                            Solo decías "Whatsaaaaaaa" para imitar el anuncio de la tele.
                        </div>
                    </div>
                </div>
                <!-- card end -->


                <!-- card start -->
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                    <div class="card-iphone mdl-card mdl-shadow--6dp">
                        <div class="mdl-card__title">
                        </div>
                        <div class="mdl-card__supporting-text">
                            <h2 class="mdl-card__title-text">Iphone</h2>
                            Ni soñabas con comprarte el 7.<br>
                            Amabas a tu Blackberry (todos tenemos un pasado).
                        </div>
                    </div>
                </div>
                <!-- card end -->
            </div>

        </div>

        <div class="hero">
            <img src="../images/header-1-2.jpg" width="1234" height="293">
        </div>

        <div class="featured-block red">
            <h3>Ya hemos cumplido 10 años</h3>
            <p>
                Y como todo lo bueno hay que celebrarlo...<br>
                Queremos invitarte a nuestro aniversario.
            </p>
            <i class="material-icons">keyboard_arrow_down</i>


            <div class="card-event mdl-card mdl-shadow--6dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h4>
                        Estás invitado:<br>
                        Viernes 25 de noviembre<br>
                        Hotel Pamplona Catedral
                    </h4>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--raised mdl-button--accent mdl-js-button mdl-js-ripple-effect click-on-target" data-target="/">
                        Ver programa
                    </a>
                    <div class="mdl-layout-spacer"></div>
                    <i class="material-icons">event</i>
                </div>
            </div>

        </div>


    </div>



    <div class="mdl-tabs__panel" id="faq">

        <div class="hero">
            <img src="../images/header-3.jpg" width="1897" height="450">
        </div>


        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">


                <div class="mdl-card mdl-shadow--6dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Y te preguntarás ¿qué es esto de Open Space?</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>
                            Sencillo, se trata de una metodología ágil para organizar reuniones que permite conseguir, de un grupo numeroso de personas y en un mínimo tiempo, compartir conocimiento y las mejores ideas sobre un tema.
                        </p>

                        <p>
                            O lo que es lo mismo, los bikonianos (y todo el que quiera participar) proponemos unos temas concretos que nos interesan y que queremos compartir con todo el mundo (sea de Biko o no) y programamos una serie de reuniones donde tratarlos.
                        </p>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect click-on-target" data-target="/">
                            Ver programa
                        </a>
                    </div>
                </div>


            </div>
            <div class="mdl-cell mdl-cell--12-col">


                <div class="mdl-card mdl-shadow--6dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">¿Por qué tienes que venir?</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>
                            Porque sea cual sea tu especialidad o intereses profesionales, seguro que encuentras una charla que encaje contigo. Tenemos para todos los gustos: diseño, marketing, comunicación, programación, estrategia… Además las reuniones serán muy participativas para que todos opinemos y los ponentes nos hablarán desde su propia experiencia lo que hará que sean muy productivas.
                        </p>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect click-on-target" data-target="/">
                            Ver programa
                        </a>
                    </div>
                </div>

            </div>
            <div class="mdl-cell mdl-cell--12-col">


                <div class="mdl-card mdl-shadow--6dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">¿Cómo lo vamos a hacer?</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>El día del Open Space: 25 de noviembre</p>

                        <p>
                            Empezaremos a las 9:00 horas de la mañana. Cada asistente elige libremente a qué reunión le interesa asistir, sin necesidad de apuntarse en ningún sitio, basta con estar en la sala adecuada a la hora indicada. Puedes asistir a una reunión, dos, tres… todas las de una misma sala… La única ley que aplicamos es la “Ley de los dos pies”: Si en algún momento sientes que no estás aprendiendo o no te interesa lo que se habla, usa tus dos pies ¡y cambia de reunión!
                        </p>

                        <p>
                            Te esperamos en el Hotel Pamplona Catedral, a las 9:00h de la mañana del viernes 25 de noviembre.
                        </p>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect click-on-target" data-target="/">
                            Ver programa
                        </a>
                    </div>
                </div>



            </div>
        </div>


    </div>
</div>
