.mdl-layout__drawer-button {
  outline: none;
  svg {
    vertical-align: baseline;
  }
}

.mdl-layout__drawer {
  border: none !important;
}

.mdl-layout-head {
  background: #e73f39;
  padding: 15px;
  color: #fff;
  img {
    display: block;
    width: 100px;
    margin-bottom: 70px;
  }
}

.mdl-layout__drawer {
  .mdl-navigation {
    .mdl-navigation__link {
      padding: 16px 40px 16px 20px !important;
      .material-icons {
        padding-right: 10px;
      }
    }
  }
}
